.header{
  display: flex;
  justify-content: space-between;
  background-color: #ff5200;
}
.logo{
  padding: 10px;
  border-radius: 50%;
  width: 100;
}
.res-container{
  display: flex;
  flex-wrap: wrap;
}

.nav-item>ul{
  display: flex;
 list-style: none;
 padding: 0px 20px;
 font-size: 24px;
 color: whitesmoke;
}


.nav-item>ul>li{
  padding: 10px;
  margin: 10px;
}


.res-card {
  margin: 5px;
  width: 250px;
  height: 450px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden; /* Ensures content doesn't overflow */
}

.res-card h3, .res-card h4 {
  margin: 5px 0; /* Adjust margins for consistent spacing */
  text-align: center; /* Center align the text */
}

.res-card:hover {
  transform: scale(1.05);
  cursor: pointer;
  border: 2px solid gray;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.search{
  padding: 10px;
}

.res-img{
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.filter-btn{
  margin: 10px;
}


.shimmer-parent-div{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.shimmer-card{
 
  height: 400px;
  width: 200px;
  background-color: rgb(205, 198, 198);
  margin: 10px;
}
